src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:dxcsp="http://www.mulesoft.org/schema/mule/dxcsp" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/dxcsp http://www.mulesoft.org/schema/mule/dxcsp/current/mule-dxcsp.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="get:\checkVaccine:sfdc-covid-services-api-config" doc:id="6c5c4e36-810b-46bb-a0bf-e1ec5181b4e5" >
		<json-logger:logger doc:id="9759eeec-cfa2-4f53-8a33-bb07f5abd104" config-ref="JSON_Logger_Config" message='#["Request Received Please check the Parameters Passed"]'/>
		<choice doc:name="Choice" doc:id="add1ba22-6cdb-4d64-bb2a-bc433c1882f6">
			<when expression="#[attributes.queryParams.pinCode != null and attributes.queryParams.date != null]">
				<json-logger:logger doc:name="Logger" doc:id="56763c64-88a4-4d8c-937b-6e74cfe9a0e5" config-ref="JSON_Logger_Config" message='#["Pincode and Date Received"]' priority="DEBUG"/>
			</when>
			<when expression="#[attributes.queryParams.pinCode != null and attributes.queryParams.date == null]">
				<os:retrieve doc:name="Retrieve" doc:id="50baa0b0-5668-4c36-bcb2-184dc228abb3" objectStore="Object_store" key="dateStamp" target="dateStamp">
			<os:default-value><![CDATA[#[now() as Date as String {format: "dd-MM-yyy"}]]]></os:default-value>
		</os:retrieve>
				<json-logger:logger doc:name="Logger" doc:id="a356492d-ef15-4847-8a5c-9c1fb890f8f5" config-ref="JSON_Logger_Config" message='#["retrieved date"]' priority="DEBUG"/>
			</when>
				<when expression="#[attributes.queryParams.pinCode == null]">
				<json-logger:logger doc:name="Logger" doc:id="49635af6-b5f7-4c7c-ba90-f3fb3067654b" config-ref="JSON_Logger_Config" message='#["Pincode is null"]' priority="DEBUG"/>
			</when>
			<otherwise>
				<json-logger:logger doc:name="Logger" doc:id="2a613b75-db61-479b-bb38-e0040d70d3fd" config-ref="JSON_Logger_Config" message='#["error Raised"]' priority="DEBUG"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="756c2b04-eca6-4ff7-a9ed-2bbfea12a868">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="acceptAttributes"><![CDATA[%dw 2.0
output application/json
---
{
	"pincode": attributes.queryParams.pinCode,
	"date": if ( attributes.queryParams.date != null ) (attributes.queryParams.date) else if(attributes.queryParams.date == null ) vars.dateStamp else (vars.dateStamp != null)
}


]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="covid Service" doc:id="a45de0be-ad2a-4bdb-9047-77bedefd11b5" config-ref="HTTP_Request_configuration" path="/findByPin">
			<http:query-params><![CDATA[#[output application/java
---
vars.acceptAttributes]]]></http:query-params>
		</http:request>
		<jms:publish doc:name="Publish" doc:id="8a48844c-c331-4f52-844b-bc277c664727" config-ref="JMS_Config" destination="CovidService" persistentDelivery="true" timeToLive="10" timeToLiveUnit="MINUTES"/>
		<ee:transform doc:name="Transform Message" doc:id="ec20cfc6-0656-4b01-914a-b1797114e6b2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Logger" doc:id="49a48d51-4dc2-4148-b6a6-fa61048506aa" config-ref="JSON_Logger_Config" message='#["published to ActiveMQ"]'/>
		<flow-ref doc:name="Flow Reference" doc:id="b8c82789-ab82-4936-9c77-3bda7451b90b" name="implementationFlow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ac5168c6-b7a3-4a98-bd1c-9f0a7484546c" type="HTTP:SERVICE_UNAVAILABLE">
				<ee:transform doc:name="Transform Message" doc:id="76c1dbc9-da67-408d-9f71-7d1a5d9454f7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Message" : "PLEASE PROVIDE YOUR PINCODE"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f70a0256-bbcb-4e0d-ba1c-308040f7e8b5" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="e6d53044-eaa8-43b3-bf7d-4f060fdf76bd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "An Error has Occurred, kindly retry after sometime"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementationFlow" doc:id="3262b8dd-ad80-419f-8c1e-31e2df760e73" initialState="started">
		<jms:consume doc:name="Consume" doc:id="08e0206e-8ef4-42d9-ae8f-7df585ee0a2f" config-ref="JMS_Config" destination="CovidService" contentType="application/json" encoding="UTF-8" >
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:consume>
		<json-logger:logger doc:name="Logger" doc:id="3e942a34-ba9a-4c93-b668-636a02b7e461" config-ref="JSON_Logger_Config" message='#["Consumed from ActiveMq Queue"]' />
		<ee:transform doc:name="Transform Message" doc:id="6d3f8174-f791-4d71-b071-706fad431304" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.sessions map {
    center_id :$.center_id,
    name : $.name,
    vaccine : $.vaccine,
    address : $.address,
    pincode : $.pincode,
    from : $.from,
    to : $.to,
    date : $.date,
    slot : $.slots joinBy(",")
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="storeInFile" ><![CDATA[%dw 2.0
output application/csv separator = ",", quoteValues = true
fun replaceComma(fieldValue) = if(fieldValue != null) (fieldValue replace "," with "','") else if(fieldValue == null) (null) else null
---
payload.sessions map {
    center_id :$.center_id,
    name : $.name,
    vaccine : $.vaccine,
    address : $.address,
    pincode : $.pincode,
    from : $.from,
    to : $.to,
    date : $.date,
    slot : replaceComma($.slots joinBy(","))
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:write doc:name="Write" doc:id="a31f4966-9564-4f9c-8792-7f46043e7b53" config-ref="File_Config" path="C:\Users\yaarafat\Desktop\New folder\File_Connector\covid_Vaccine_details.csv" >
			<file:content ><![CDATA[#[vars.storeInFile]]]></file:content>
		</file:write>
		<json-logger:logger doc:name="Logger" doc:id="c13b3ec8-2f27-492e-b842-aa3bb3017511" config-ref="JSON_Logger_Config" message='#["Response received from Covid vaccine Service"]' />
	</flow>
</mule>
