src/main/mule/pub-sub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get:\pubsub:sfdc-covid-services-api-config" doc:id="5eb2f83d-0ce7-4850-aed4-91117b023e34" >
		<try doc:name="Try" doc:id="8453f684-2a44-4348-be7c-d4e8d8d84e8f" >
			<until-successful maxRetries="5" doc:name="retry" doc:id="642a4a4f-b1a5-49ce-87f6-f0a121f67101" >
				<jms:consume doc:name="Consume" doc:id="43239787-4401-436d-ac7a-ba3b424b06b0" config-ref="JMS_Config" destination="CovidService" contentType="application/json" encoding="UTF-8">
			<jms:consumer-type>
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:consume>
			</until-successful>
		</try>
		<json-logger:logger doc:name="Logger" doc:id="62382a85-b154-4eba-9f7c-159a03f1ebb5" config-ref="JSON_Logger_Config" message='#["Consumed from ActiveMq Queue"]' />
		<ee:transform doc:name="Transform Message" doc:id="25ce06c8-aaa1-4b66-b07f-18bb706cfce9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.sessions map {
    center_id :$.center_id,
    name : $.name,
    vaccine : $.vaccine,
    address : $.address,
    pincode : $.pincode,
    from : $.from,
    to : $.to,
    date : $.date,
    slot : $.slots joinBy(",")
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="storeInFile" ><![CDATA[%dw 2.0
output application/csv separator = ",", quoteValues = true
fun replaceComma(fieldValue) = if(fieldValue != null) (fieldValue replace "," with "','") else if(fieldValue == null) (null) else null
---
payload.sessions map {
    center_id :$.center_id,
    name : $.name,
    vaccine : $.vaccine,
    address : $.address,
    pincode : $.pincode,
    from : $.from,
    to : $.to,
    date : $.date,
    slot : replaceComma($.slots joinBy(","))
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:write doc:name="Write" doc:id="03be194e-5c7f-4c47-98c2-1578760e8260" config-ref="File_Config" path="C:\Users\yaarafat\Desktop\New folder\File_Connector\covid_Vaccine_details.csv" >
			<file:content ><![CDATA[#[vars.storeInFile]]]></file:content>
		</file:write>
		<json-logger:logger doc:name="Logger" doc:id="54688c60-490e-4725-a32c-3e88c23cb098" config-ref="JSON_Logger_Config" message='#["Response received from Covid vaccine Service"]' />
	</flow>
</mule>
